<form class="modal-form" action="">
    <input class="input-append" type="text" ng-model="project.name" placeholder="Enter name"/><br>
    <input class="input-append" type="text" ng-model="project.site" placeholder="Enter site"/><br>
    <input class="input-append" type="text" ng-model="project.description" placeholder="Enter description"/><br>
    <input class="btn" ng-click="save();" type="button" value="Save"/>
    <input class="btn" ng-click="cancel();" type="button" value="Cancel"/><hr>
</form>
